<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1079700141041-03herd09csvid7pjlfif6sgfjfhjh1u1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1079700141041-03herd09csvid7pjlfif6sgfjfhjh1u1</string>
	<key>API_KEY</key>
	<string>AIzaSyAvIaFnO8j5ALg_p2funHxOykEhxb2eo1E</string>
	<key>GCM_SENDER_ID</key>
	<string>1079700141041</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.test1</string>
	<key>PROJECT_ID</key>
	<string>final-b98bf</string>
	<key>STORAGE_BUCKET</key>
	<string>final-b98bf.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1079700141041:ios:4ea759d9e2ed95ee808a50</string>
</dict>
</plist>